body{
    background-color: #272b31;
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    
}
.box {
    box-shadow: 0 0 30px #272b31;
  }
  .sticky{
    position: fixed;
    top: 0px;
    display: block;
    background-color: #202124;
  }
  